[submodule "themes/minimal"]
	path = themes/minimal
	url = git@github.com:calintat/minimal.git
[submodule "public"]
	path = public
	url = git@github.com:jordanweaver/jordanweaver.github.io.git
	branch = master
